.cons {
  padding: 105px 0 100px;
  background-image: url(../../../src/img/dsg/bg/cons-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-color: #95c11f;
}
.cons-cnt__hdr-cnt {
  max-width: 500px;
}
.cons-cnt__hdr {
  color: #f8fceb;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}
.cons-cnt__txt-cnt {
  margin-top: 20px;
}
.cons-cnt__txt {
  color: #fefefe;
  font-size: 18px;
  font-weight: 100;
}
.cons-cnt__form {
  margin-top: 30px;
}
.form-group.cons-cnt__form-name-cnt,
.form-group.cons-cnt__form-tel-cnt {
  margin-right: 30px;
}
.form-group .form-control.cons-cnt__form-name,
.form-group .form-control.cons-cnt__form-tel {
  width: 225px;
  height: 39px;
  border: 1px solid white;
  color: #fefefe;
  font-size: 16px;
  font-weight: 100;
  background-color: transparent;
  border-radius: 0;
}
.form-group .form-control.cons-cnt__form-name::placeholder,
.form-group .form-control.cons-cnt__form-tel::placeholder {
  color: #fefefe;
  font-size: 16px;
}
